<div id="template">
	<h2>Corresponding Number List</h2>

	<div class="panel panel-default">
		<div class="panel-body">		
			<form class="form-inline">
				<div class="form-group form-group-sm">
					<input id="ballotNumber" value='{{cnl.ballotNumber}}' placeholder="Ballot Paper Number" class="form-control" >
				</div>
				<div class="form-group form-group-sm">
					<input id="electorNumber" value='{{cnl.electorNumber}}' placeholder="Elector Number" class="form-control" >
				</div>
				<button id="addCnlBtn" type="submit" class="btn btn-sm">Add</button>
			</form>
		</div>				
	</div>
	
	<div class="panel panel-default">
		<div class="panel-body">
			<table id="cnlTbl" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Ballot Paper Number</th>
						<th>Elector Number</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
