<div id="template">
	<h2>Corresponding Number List</h2>
	
	<div class="panel panel-default">
		<div class="panel-body">
			<table id="cnlTbl" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Ballot Paper Number</th>
						<th>Elector Number</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

	<!-- New/Edit Dialog Container -->
	<div id="correspondingNumberListDialogContainer">
	</div> 
</div>
