<div id="home" class="tab-pane fade in active">
	<div class="well">
		<img src="images/modern-democracy-logo.png" class="img-responsive"/>
		<h2>MDL Register Manager</h2> 
		<p>Welcome to the MDL Register Manager</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<button id="exampleBtn" type="button" class="btn btn-default">Test Controller <span class="glyphicon glyphicon-thumbs-up"></span></button> 
		{{message}}
	</div>
</div>	