<div id="template">
	<h2>Marked Register</h2>		
	<div class="panel panel-default">
		<div class="panel-body">		
			<table id="markedRegisterTbl" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Elector Number</th>
						<th>Ballot Assigned</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>	
	
		<!-- New/Edit Dialog Container -->
	<div id="markedRegisterDialogContainer">
	</div>
</div>
