<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>MDL Count Manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
	<link rel="stylesheet" href="/css/index.css" />		
	 	
</head>
<body>
	<nav id="nav-main" class="navbar navbar-inverse navbar-default" >
		<div class="container-fluid">
			<div class="navbar-header">
				<button id="menuBarToggleBtn" type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#mySideNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#"><img class="logo" src="images/modern-democracy-logo.png"/></a>
			</div>  
			<ul id="testID" class="nav navbar-nav navbar-right text-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>    
	</nav> 
	<div class="collapse navbar-collapse navbar-inverse sidenav" id="mySideNavbar">
		<ul class="nav nav-pills nav-stacked nav-pills-menu">
			<li class="active"><a href="home" class="small"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
        	<li><a href="view1" class="small"><span class="glyphicon glyphicon-user"></span> VIEW 1</a></li>
        	<li><a href="#" data-toggle="collapse" class="small" data-target="#submenu"><span class="glyphicon glyphicon-stats"></span> SUBMENU<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
	       		<ul id="submenu" class="nav nav-pills nav-stacked nav-pills-menu collapse">
					<li class="submenu-item"><a id="submenu-item-1-tab" href="submenuviews/subMenuItem1" class="small"><span class="glyphicon glyphicon-stats"></span> SUBMENU ITEM 1</a></li>
					<li class="submenu-item"><a id="submenu-item-2-tab" href="submenuviews/subMenuItem2" class="small"><span class="glyphicon glyphicon-stats"></span> SUBMENU ITEM 2</a></li>
					<li class="submenu-item"><a id="submenu-item-3-tab" href="submenuviews/subMenuItem3" class="small"><span class="glyphicon glyphicon-stats"></span> SUBMENU ITEM 3</a></li>
				</ul>                
        	</li>	
        	<li><a href="view2" class="small"><span class="glyphicon glyphicon-file"></span> VIEW 2</a></li>      			
		</ul>
	</div>	
	
	<div class="main-panel container-fluid">
		<div id="main-panel-content"></div>
	</div>
	
	<script data-main="/js/config.js" src="/js/require.js"></script>
	
</body>
</html>
